@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Voy Pa'lla de Anthony Santos!</h1>
    <iframe width="600" height="420" src="https://www.youtube.com/embed/JC4vtlrRvho"></iframe>
    
    <p><button onclick="myAnimation()">Click me!</button></p>
    <div id="container">
        <div id="animate"></div>
    </div>
</div>
